#body{
    background-color:#83BD75;
    
}
#nstyle{
    background-color:#83BD75;
}

#nav{
    background-color: #4E944F;
}
#foot{
    background-color: #4E944F;
}

#aboutSection{
    width: 100%;
    margin: 2rem auto;
    padding: 20rem;
    background-color: #dbffc7;
    
    
}

#projectsSection{
   width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #d8f3ff;
    
}

#contact{
    margin: auto;
    padding: 10px;
    background-color: rgb(63, 220, 255);
}

.contact-form{
    background:#E9EFC0;
    margin-top: 0;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 13%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color :#E9EFC0;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background:#83BD75;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 10%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

#contactForm{
    width: 100%;
}

#about{
    background-color: #d8ead8;
}