body{
    background-color: #2b97be;

}
head{
    color: aliceblue;
}
.container{
    border-radius: 15px;
    background-color: rgb(206, 235, 252);
    background-position: center;
    background-attachment:fixed;
    background-size: auto;
    -ms-flex-align: center;
}
#logo {
    border-radius: 15px;
    text-size-adjust: ;
    color: rgb(38, 26, 205);
    padding: 0;

}
#nav

#Eswar{
    text-align: left;
    text-decoration: solid;
}